.fix-width{
	width:200px;
}
.mtrow{

}
.mtclear{
	clear:both;
}
.mtrow .col1{
	width:8.333%;
	float:left;

}

.mtrow .col2{
	width:16.6666%;
	float:left;
}

.mtrow .col3{
	width:25%;
	float:left;
}

.mtrow .col4{
	width:33.333%;
	float:left;
}

.mtrow .col5{
	width:41.666%;
	float:left;
}

.mtrow .col6{
	width:50%;
	float:left;
}

.mtrow .col7{
	width:58.333%;
	float:left;
}

#overall{
	padding:10px;
	color:white;
	font-weight:bold;
	max-height:20px;
	
	
	font-size:30px;


}
#overall img{
	width:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}
/*
.in{
	background:green;

}

.out{
	background:red;
}
*/
#metaintel-container{
	background:#e5e5e5;
	padding:10px;
}
#metaintel-container .text-center{
	text-align:center;
}
.dial-heading{
	font-size: 30px;
	
	margin-top:-80px;
	margin-left:auto;
	margin-right:auto;

}
.mtheading{
	font-size:45px;
}
.equals, .plus{
	font-size:70px;
}

.bought2you{
text-align:right;
font-size:30px;
font-weight: bold;
}
.meta-red{
	color:#de1f00;
}
.mtheading sup{
	font-size:20px;
}